<div class="justify-self-center px-13 py-2 mt-6 mb-5 bg-principal text-yellow-500 font-bold shadow-black shadow-2xl">
    Coloca tu flota para Empezar !!</div>
<div class="justify-self-center">
    <button class="p-3 px-5 text-darkBlue font-bold bg-btn border-btn border-l-3 border-b-3 border-t-1 border-r-1 
                  shadow-2xl shadow-black rounded-full hover:cursor-pointer transform transition duration-300 hover:scale-105 hover:shadow-lg"
            (click)="startBattle($event, 'BATTLE')"            
    >Empezar</button>
</div>