
    <div class="flex justify-center">   
        <div class="flex-col items-center justify-center mt-20 mb-20">
            <div class="mb-6">
                <button
                    (mouseenter)="disableHover() ? '' : reproducirHover()"
                    (mouseleave)="stopHover()"
                    (click)="disableHover() ? '' : dispararTorpedo($event, 'NEWGAME')" 
                    class="p-4 w-42 rounded-e-full bg-principal opacity-90 text-fluor font-bold btn-vibrate btn-torpedo shadow-black transform transition duration-300 hover:scale-105 hover:shadow-lg"
                >NUEVA PARTIDA</button>
            </div>
            <div class="mb-6">
                <button 
                    (mouseenter)="disableHover() ? '' : reproducirHover()"
                    (mouseleave)="stopHover()"
                    (click)="disableHover() ? '' : dispararTorpedo($event, 'ONLINE')" class="p-4 w-42 rounded-e-full bg-principal opacity-90 text-fluor font-bold btn-vibrate btn-torpedo shadow-black transform transition duration-300 hover:scale-105 hover:shadow-lg">ONLINE</button>
            </div>
            <div>
                <button 
                    (mouseenter)="disableHover() ? '' : reproducirHover()"
                    (mouseleave)="stopHover()"
                    (click)="disableHover() ? '' : dispararTorpedo($event, 'OPTIONS')" class="p-4 w-42 rounded-e-full bg-principal opacity-90 text-fluor font-bold btn-vibrate btn-torpedo shadow-black transform transition duration-300 hover:scale-105 hover:shadow-lg">OPCIONES</button>
            </div>
            
        </div>    
    </div>
