
    <div class="flex justify-center">   
        <div class="flex-col items-center justify-center mt-20 mb-20">
            <div class="mb-6">
                <button
                    (mouseenter)="disableHover() ? '' : reproducirHover()"
                    (mouseleave)="stopHover()"
                    (click)="disableHover() ? '' : dispararTorpedo($event, 'newGame')" 
                    class="p-4 w-42 rounded-e-full bg-principal opacity-90 text-fluor font-bold btn-vibrate btn-torpedo"
                >NUEVA PARTIDA</button>
            </div>
            <div class="mb-6">
                <button 
                    (mouseenter)="disableHover() ? '' : reproducirHover()"
                    (mouseleave)="stopHover()"
                    (click)="disableHover() ? '' : dispararTorpedo($event, 'online')" class="p-4 w-42 rounded-e-full bg-principal opacity-90 text-fluor font-bold btn-vibrate btn-torpedo">ONLINE</button>
            </div>
            <div>
                <button 
                    (mouseenter)="disableHover() ? '' : reproducirHover()"
                    (mouseleave)="stopHover()"
                    (click)="disableHover() ? '' : dispararTorpedo($event, 'options')" class="p-4 w-42 rounded-e-full bg-principal opacity-90 text-fluor font-bold btn-vibrate btn-torpedo">OPCIONES</button>
            </div>
            
        </div>    
    </div>
