<div class="w-90 flex justify-self-center ms-5 gap-1.5 mt-4">

    <app-chat-box [ngClass]="showChatbox() ? 'block' : 'hidden'"></app-chat-box>

    <div class="flex flex-col bg-principal justify-center gap-2 p-2 rounded-md shadow-black shadow-lg"
        [ngClass]="showChatbox() ? 'hidden' : 'block'">
        <div class="flex">
            <img [src]="perfil.avatar" alt="mi avatar" class="rounded-xl w-18 h-18">
            <div class="flex-col rounded-sm ms-1">
                @for (sub of meBoard()?.submarines; track sub.id) {
                <div class="m-1 rounded-sm flex">
                    @for (s of sub.isTouched ; track $index) {
                    <div [ngClass]="[
                                'rounded-r-sm',
                                sub.isDestroyed ? 'bg-red-800 w-2 h-1.5' : 'bg-acero w-2 h-1.5',
                            ]">
                        <div class="p-1"></div>
                    </div>
                    }
                </div>
                }
            </div>
        </div>
        <h2 class="self-center text-center text-fluor">ESPECIAL</h2>
        <div class="flex self-center gap-4">
            <div id="special1" [ngClass]="activePlayerSpecial1() || meActiveSlot1Comp() ? 'border-green-600' : 'border-gray-500'"
                class="relative group w-10 h-10 border-2 rounded-md">
                @if(playerSlot1().owner !==''){
                <img [src]="playerSlot1().image">
                }
                <!-- Tooltip -->
                <div class="opacity-100 absolute bottom-full left-1/2 -translate-x-1/2 mb-2 hidden group-hover:block
                               bg-principal text-acero text-md font-mono rounded p-3 w-70 shadow-lg shadow-black z-10">
                    {{ playerSlot1().description || 'La ranura está vacía' }}
                </div>
            </div>
            <div id="special2" [ngClass]="activePlayerSpecial2() || meActiveSlot2Comp() ? 'border-green-600' : 'border-gray-500'"
                class="relative group w-10 h-10 border-2 rounded-md">
                @if(playerSlot2().owner !==''){
                <img [src]="playerSlot2().image">
                }
                <!-- Tooltip -->
                <div
                    class="opacity-100 absolute bottom-full left-1/2 -translate-x-1/2 mb-2 hidden group-hover:block
                                bg-principal text-acero text-md font-mono rounded p-3 w-70 shadow-lg shadow-black z-10">
                    {{ playerSlot2().description || 'La ranura está vacía' }}
                </div>
            </div>
        </div>

    </div>

    <div class="flex flex-col bg-principal justify-center gap-2 p-2 rounded-md shadow-black shadow-lg"
        [ngClass]="showChatbox() ? 'hidden' : 'block'">
        <div class="flex">
            <img [src]="avatarRival()" alt="avatar rival" class="rounded-xl w-18 h-18">
            <div class="flex-col rounded-sm ms-1">
                @for (sub of boardRival()?.submarines; track sub.id) {
                <div class="m-1 rounded-sm flex">
                    @for (s of sub.isTouched ; track $index) {
                    <div [ngClass]="[
                                'rounded-r-sm',
                                sub.isDestroyed ? 'bg-red-800 w-2 h-1.5' : 'bg-acero w-2 h-1.5',
                            ]">
                        <div class="p-1"></div>
                    </div>
                    }

                </div>
                }
            </div>
        </div>

        <h2 class="self-center text-center text-fluor">ESPECIAL</h2>
        <div class="flex self-center gap-4">
            <div id="specialR1"
                [ngClass]="readyBossSpecial1() || rivalActiveSlot1Comp() ? 'border-green-600' : 'border-gray-500'"
                class="relative group w-10 h-10 border-2 rounded-md">
                @if(!gameService.gameDTO()?.online && bossSlot1()?.owner !==''){
                <img [src]="bossSlot1()?.image">
                }
                @if(gameService.gameDTO()?.online && playerRivalSlot1!.owner !==''){
                <img [src]="playerRivalSlot1!.image">
                }
                <!-- Tooltip -->
                <div class="opacity-100 absolute bottom-full left-1/2 -translate-x-1/2 mb-2 hidden group-hover:block
                            bg-principal text-acero text-md font-mono rounded p-3 w-70 shadow-lg shadow-black z-10">
                    @if(!gameService.gameDTO()?.online){
                    {{ bossSlot1()?.description || 'La ranura está vacía' }}
                    }
                    @else{
                    {{ playerRivalSlot1!.description || 'La ranura está vacía' }}
                    }
                </div>
            </div>
            <div id="specialR2"
                [ngClass]="readyBossSpecial2() || rivalActiveSlot2Comp() ? 'border-green-600' : 'border-gray-500'"
                class="relative group w-10 h-10 border-2 rounded-md">
                @if(!gameService.gameDTO()?.online && gameService.gameDTO()?.stage !==1){
                <img [src]="bossSlot2()?.name ? bossSlot2()?.image: bossSlot2()?.image">
                }
                @if(gameService.gameDTO()?.online && playerRivalSlot2!.owner !==''){
                <img [src]="playerRivalSlot2!.image">
                }
                <!-- Tooltip -->
                <div class="opacity-100 absolute bottom-full left-1/2 -translate-x-3/4 mb-2 hidden group-hover:block
                            bg-principal text-acero text-md font-mono rounded p-3 w-70 shadow-lg shadow-black z-10">
                    @if(!gameService.gameDTO()?.online){
                    {{ bossSlot2()?.description || 'La ranura está vacía' }}
                    }
                    @else{
                    {{ playerRivalSlot2!.description || 'La ranura está vacía' }}
                    }
                </div>
            </div>
        </div>
    </div>
    @if(gameService.gameDTO()?.online && !showChatbox()){
    <app-chat></app-chat>
    }
</div>