<div class="bg-[url('/images/menu.png')] bg-cover bg-center min-h-screen overflow-y-auto flex flex-col">
  <app-header [page]="page()"></app-header>
    @switch (page()) {
      @case ('NEWGAME') {
        <app-mini-display-user (pageChange)="page.set($event)"></app-mini-display-user>
          <div class="relative">
            <app-board></app-board>
          </div>
        <app-mini-placement (pageChange)="page.set($event)"></app-mini-placement>
      }
      @case ('NEWGAME_ONLINE') { 
        <app-online-game (pageChange)="page.set($event)"></app-online-game>
      }
      @case ('BATTLE') {
        <app-mini-display-user (pageChange)="page.set($event)"></app-mini-display-user>
        <app-board-atack (firePlayer)="playerFire($event)" [disableFire]="disableFire()"></app-board-atack>
        <app-mini-board></app-mini-board>
      }
     
      @case ('ONLINE') {
        <app-waiting-online (cancel)="page.set($event)" (pageOnline)="page.set($event)"></app-waiting-online>
      }
      
      <!-- MENU es default-->
      @default {
        <app-menu (pageChange)="page.set($event)"></app-menu>
        <app-footer class="w-full mt-auto"></app-footer>
      }
    }
</div>