<div class="bg-[url('/images/menu.png')] bg-cover bg-center min-h-screen overflow-y-auto flex flex-col">

  <!-- Header -->
  <app-header></app-header>

  <!-- Contenido dinámico -->

    @switch (page()) {
      @case ('NEWGAME') {
        <app-mini-display-user></app-mini-display-user>
        <div class="relative">
          <app-board></app-board>
        </div>
        <app-mini-placement (pageChange)="page.set($event)"></app-mini-placement>
      }
      @case ('NEWGAME_ONLINE') { 
        <app-online-game (pageChange)="page.set($event)"></app-online-game>
      }
      @case ('BATTLE') {
        <app-mini-display-user></app-mini-display-user>
        <app-board-atack (firePlayer)="playerFire($event)"></app-board-atack>
        <app-mini-board></app-mini-board>
      }
     
      @case ('ONLINE') {
        <app-waiting-online (cancel)="page.set($event)" (pageOnline)="page.set($event)"></app-waiting-online>
      }
      @case ('WAITING_READY') {
        <p>Waiting......................................</p>
      }
      @case ('OPTIONS') {

      }
      
      <!-- MENU es default-->
      @default {
        <app-menu (pageChange)="page.set($event)"></app-menu>
        <!-- Footer -->
        <app-footer class="w-full mt-auto"></app-footer>
      }
    }

</div>